<ion-view>
        <ion-content>
<!-- <h1> merchant</h1>>     -->

<!-- <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" style="width: 400px;" type="text" ng-model="merchant.name" ng-keypress="myFunct($event)" placeholder="MerchantName">
        </div>
    </div>
    <div class="span" style="height: 20px;"></div>

    <div class="row">
        <button class="uk-button uk-button-primary" style="margin-left:20px;width: 400px;" ng-click="dologin(login)">LOGIN</button>
        <div id="spinnerone" uk-spinner style="margin-left:20px;margin-top: 5px;visibility:hidden"></div>
    </div>
    <div class="spacer" style="height:80px;"> </div> -->
    <!-- <center>
        <div id="qrcode"></div>
    </center> -->
<head>
        <link href="css/style.default.css" rel="stylesheet">
        <link href="css/style.default.css" rel="stylesheet">
        <link href="css/jquery.gritter.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="signin" ng-controller="merchantcontroller">
        
        <button ng-click="getValues()">click meh</button>
       
        <script src="jss/jquery-1.11.1.min.js"></script>
        <script src="jss/jquery-migrate-1.2.1.min.js"></script>
        <script src="jss/bootstrap.min.js"></script>
        <script src="jss/modernizr.min.js"></script>
        <script src="jss/pace.min.js"></script>
        <script src="jss/retina.min.js"></script>
        <script src="jss/jquery.cookies.js"></script>

        <script src="jss/custom.js"></script>

    </body>

    
   
</ion-content>
    </ion-view>
